/* apparition des elemnts au scroll */
.masque
{
    opacity: 0;
    transform: translateY(30px);
}

.apparition
{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
}