<!-- header -->
<div>
	<nav class="navbar navbar-expand-lg navbar-light" id="main_navbar" style="background-color: #f7eb4b;">
		<a class="navbar-brand" href="#">
			Mamadou ZO
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="index.html">
						Acceuil
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="flexbox.html">
						Articles
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="slideshow.html">
						Slideshow
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="loader.html">
						Loader
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="couleurs.html">
						Couleurs
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="contact.html">
						Contact
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="blog-post.html">
						A propos de
					</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Dropdown
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<div class="dropdown-divider"></div>
						<li></li>
						<a class="dropdown-item" href="#">Something else here</a>
						<li class="nav-item dropdown">
							<a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								Dropdown
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<div class="dropdown-divider"></div>
								<li></li>
								<a class="dropdown-item" href="#">Something else here</a>
								<li class="nav-item dropdown">
									<a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown2" role="button"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Dropdown
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
										<li><a class="dropdown-item" href="#">Action</a></li>
										<li><a class="dropdown-item" href="#">Another action</a></li>
										<div class="dropdown-divider"></div>
										<li></li>
										<a class="dropdown-item" href="#">Something else here</a>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a class="nav-link " href="cards.html">Cards</a>
				</li>
			</ul>
			
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-1" type="text" placeholder="Search">
				<button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>

	</nav>
</div>
